python-dotenv
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
fastapi>=0.100.0
uvicorn>=0.23.0
pydantic==2.*
alembic
redis
pydantic-settings
requests
loguru
spacy
huggingface_hub
tensorflow
keras
numpy
scikit-learn==1.6.1
# fastapi → API

# uvicorn → ASGI server

# pydantic v2 → schemas

# SQLAlchemy + alembic → DB + migrations

# psycopg2-binary → PostgreSQL driver

# redis → caching / Celery

# loguru → beautiful logging